<!-- Footer -->
<footer class="row footer-container">
    <div class="container footer-pane">
        <div class="col s12 center-align grey-text text-darken-4">
            <span>&copy; 2020. Web &amp; Internet Programming.</span>
        </div>
    </div>
</footer>