<header>
    <div class="navbar-fixed">
        <nav class="navbar white">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo center grey-text">POJAN</a>
            <ul id="nav-mobile" class="right">
              <li class="hide-on-med-and-down"><a href="#!" class="waves-effect navbar-dropdown"><i class="material-icons">account_circle</i></a></li>
            </ul>
            <a href="#!" data-target="sidenav-left" class="sidenav-trigger left show-on-large waves-effect"><i class="material-icons">menu</i></a>
          </div>
        </nav>
    </div>
  
    {{!-- Side nav --}}
    {{> sidenav}}
</header>