<ul class="top-bar-nav row card">
    <li><a href="/user/profile" class="waves-effect"><i class="material-icons">account_box</i>Profile</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">notifications_active</i>Notifications</a></li>
    <li><a href="#!" class="waves-effect"><i class="material-icons">settings</i>Settings</a></li>
    <li><a href="/signout" class="waves-effect"><i class="material-icons">cloud_off</i>Sign Out</a></li>
</ul>

<ul id="sidenav-left" class="sidenav sidenav-fixed" style="transform: translateX(0%);">
    <li>
        <div class="user-view">
        <div class="background">
            <img src="/img/triangles.png">
        </div>
        <a href="#user"><img class="circle" src="/img/profile/avatars/1.jpg"></a>
        <a href="#name"><span class="white-text name">Valentine Aduaka</span></a>
        <a href="#email"><span class="white-text email">vaduaka@nmsu.edu</span></a>
        </div>
    </li>
    <li><a href="/posts"><i class="material-icons">art_track</i>Postings</a></li>
    <li><a class="subheader">Account</a></li>
    <li ><a href="/user/profile"><i class="material-icons">account_box</i>Profile</a></li>
    <li><a href="#!"><i class="material-icons">notifications_active</i>Notifications</a></li>
    <li><a href="#!"><i class="material-icons">settings</i>Settings</a></li>
    
    <li><a class="subheader">Manage Postings</a></li>
    <li><a href="/posts/create"><i class="material-icons">note_add</i>Create Post</a></li>
    <!-- <li><a class="subheader">Subheader</a></li> -->
    

    <li><div class="divider"></div></li>
    <li><a href="/signout"><i class="material-icons">cloud_off</i>Sign Out</a></li>
</ul>