<div class="notfound-bg-template red accent-2"></div>
<main class="notfound-pane">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h1 class="center white-text">404</h1>
                <span class="center notfound-title">PAGE NOT FOUND</span>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <span class="white-text center">You can find your way back using the link below</span>
            </div>
            <div class="col s12">
                <ul class="center">
                    <li><a href="/posts" class="btn btn-large z-depth-1 red accent-2">GO BACK</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</main>

