<div class="bg-template pink darken-3"></div>
    <main class="center-pane">
        <div class="container">
            <div class="row signin-box">
                <div class="col card s12 white z-depth-1">
                    <form class="col s12" id="signInForm" method="POST" enctype="multipart/form-data">
                        <div class="card-content">
                            <h5 class="center-align text-darken-2"><img class="sign-in-up-logo" src="/img/pojan-logo.png"/></h5>

                            <div class="row">
                                <div class="col s12 center">
                                    <h6 class="center-align">Sign In</h6>
                                </div>
                            </div>

                            <div id="formError" class="form-error"></div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="email" type="email" autocomplete="off" name="email">
                                    <label for="email" class="grey-text darken-1">Email</label>
                                </div>
    
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock_open</i>
                                    <input id="password" type="password" name="password" required>
                                    <label for="password" class="grey-text darken-1">Password</label>
                                </div>
                            </div>
    
                            <div class="row center">
                                <div class="col s12 l6 left-align"><a href="/reset" class="grey-text text-darken-4">Forgot password?</a></div>
                                <div class="col s12 l6 right-align"><a href="/signup" class="grey-text text-darken-4">Not a member yet?</a></div>
                            </div>
    
                            <div class="row center">
                                <button class="btn waves-effect waves-light pink darken-3" type="submit" id="btnSignIn">SIGN IN</button>
                            </div>
                        </div>

                        {{!-- Loader --}}
                        <div class="preloader-wrapper active loader" id="loader">
                            <div class="spinner-layer spinner-red-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div><div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{{> entrance-footer }}
{{> script-generic }}
{{> entrance/signin-script }}