<div class="bg-template red accent-2"></div>
    <main class="center-pane">
        <div class="container">
            <div class="row signin-box">
                <div class="col card s12 white z-depth-1">
                    <form class="col s12" action="/">
                        <div class="card-content">
                            <h5 class="center-align text-darken-2">POJAN</h5>

                            {{#if message}} <div class="error"> {{message}}</div> {{/if}}

                            <div class="row">
                                <div class="col s12 center">
                                    <h6 class="center-align">Sign In</h6>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">account_circle</i>
                                    <input id="email" type="email" class="validate" autocomplete="off">
                                    <label for="email" class="red-text accent-2">Email</label>
                                </div>
    
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock_open</i>
                                    <input id="password" type="password" class="validate">
                                    <label for="password" class="red-text accent-2">Password</label>
                                </div>
                            </div>
    
                            <div class="row center">
                                <div class="col s12 l6 left-align"><a href="/reset" class="grey-text text-darken-4">Forgot password?</a></div>
                                <div class="col s12 l6 right-align"><a href="/signup" class="grey-text text-darken-4">Not a member yet?</a></div>
                            </div>
    
                            <div class="row center">
                                <button class="btn waves-effect waves-light red accent-2" type="submit" name="action">SIGN IN</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

{{> entrance-footer }}