<div class="bg-template red accent-2"></div>
<main class="center-pane">
    <div class="container">
        <div class="row signup-box">
            <div class="col card s12 white z-depth-1">
                <a href="/signin" class="close-pane-icon"><i class="material-icons">close</i></a>
                <form class="" action="/submit" method="POST">
                    <div class="card-content">
                        <h5 class="center-align text-darken-2">POJAN</h5>

                        <div class="row">
                            <div class="col s12 center">
                                <h6 class="center-align">Sign Up</h6>
                            </div>
                        </div>

                            {{!-- Signup Error Message --}}
                        {{#if message}} <div class="error">{{message}}</div>{{/if}}

                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="first_name" type="text" class="validate" autocomplete="off">
                                <label for="first_name" class="red-text accent-2">First Name</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">account_circle</i>
                                <input id="last_name" type="text" class="validate" autocomplete="off">
                                <label for="last_name" class="red-text accent-2">Last Name</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="email" type="email" class="validate" autocomplete="off">
                                <label for="email" class="red-text accent-2">Email</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="password" type="password" class="validate">
                                <label for="password" class="red-text accent-2">Password</label>
                            </div>
                            <div class="input-field col s6">
                                <i class="material-icons prefix">lock_outline</i>
                                <input id="confirm_password" type="password" class="validate">
                                <label for="confirm_password" class="red-text accent-2">Confirm Password</label>
                            </div>
                        </div> 

                        <div class="row">
                            <div class="col s6 m6">
                                <label>
                                    <input class="with-gap" name="group1" type="radio" checked />
                                    <span>Student</span>
                                </label>
                            </div>
                            
                            <div class="col s6 m6">
                                <label>
                                    <input class="with-gap" name="group1" type="radio"/>
                                    <span>Faculty member</span>
                                </label>
                            </div>
                        </div>

                        <div class="row center section">
                            <button class="btn waves-effect waves-light red accent-2" type="submit" name="action">SIGN UP</button>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
</main>

{{> entrance-footer }}