.clearfix::after {content: ""; display: table;clear: both;}
html, body{height: 100%;}
body{
    background-color: #f4f4f4;
    font-family: Lato;
    font-weight: 300;
}

body.has-fixed-sidenav{
    padding-left: 300px;
}

.bg-template{
    background-image: linear-gradient(rgba(255, 82, 182, 0.678), rgba(206, 0, 0, 0.562)), url(../img/learning.jpg);
    background-size: contain;
    background-position: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50%;
}

.center-pane{
    display:table; 
    height:100%; 
    margin: 0 auto;
}

.center-pane .container{
    display: table-cell; 
    vertical-align: middle;
}

.signin-box{
    max-width: 400px;
}

.signup-box{
    max-width: 450px;
}

.signin-box .card-action a{
    display: inline-block;
    font-size: 14px;
}

.top-bar-nav {
    position: fixed;
    top: 57px;
    right: 20px;
    padding: 20px 0;
    z-index: 200;
    display: none;
}

.top-bar-nav li{
    vertical-align: middle;
}

.top-bar-nav li a{
    color: rgba(0, 0, 0, 0.87);
    display: block;
    padding: 15px 40px 15px 20px;
}

.top-bar-nav li a i{
    padding: 0 30px 0 5px;
}

.top-bar-nav li a:hover{
    background-color: #fafafa;
}

.top-bar-nav.show-nav{
    display: block;
}

.footer-container{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.footer-pane{
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e3e3e3;
}

nav.navbar{
    width: calc(100% - 300px);
    left: 300px;
    z-index: 10;
    transition: box-shadow .3s, background-color .3s;
    padding: 0 20px;
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}

nav.nav-extended {
    height: auto;
}

ul.card-breadcrumb li{
    display: inline-block;
}

.card-posts .card-action span{
    display: inline-block;
    padding-right: 15px;
}

ul.card-breadcrumb li span{
    display: inline-block;
    vertical-align: middle;
}
ul.card-breadcrumb li span .material-icons{
    display: inline-block;
    padding-right: 10px;
}

ul.card-breadcrumb li i{
    padding-right: 5px;
}

ul.card-breadcrumb li:not(:first-child):not(:last-child):after{
    content: "|";
    padding: 0 10px;
}

form.uses-loader{
    position: relative;
}

.form-error{
    background-color: #e53935 ;
    color: #ffffff;
    padding: 10px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
    display: none;
}

.uses-loader:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.8);
}

.loader{
    display: none;
    z-index: 5000;
    position: absolute;
    top: calc(60% - 50px);
    left: calc(56% - 50px);
}

.hide{ display: none; }
.show{ display: block; }

.material-icons{
    color: rgba(0,0,0,0.54);
    vertical-align: middle;
}

.material-icons.active {
  color: #cc3f3d !important;
}

.input-field .prefix{
    font-size: 1.5rem;
}

input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus {
 border-bottom: 1px solid #ff5252  !important;
 box-shadow: 0 1px 0 0 #ff5252  !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ff5252;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #ff5252;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #ff5252;
    background-color: #ff5252;
}

[type="checkbox"]:checked+span:not(.lever):before {
    border-right: 2px solid #ff5252;
    border-bottom: 2px solid #ff5252;
}

input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ff5252;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ff5252;
}

.brand-logo{
    position: relative;
    height: 100%;
    font-weight: 300;
}

.brand-logo:after{
    transition: all .2s ease-in-out;
    content: "\203A";
    font-weight: 600;
    margin-left: 5px;
    opacity: .3;
}

.brand-logo:before{
    transition: all .2s ease-in-out;
    content: "\2039";
    font-weight: 600;
    margin-right: 5px;
    opacity: .3;
}
.brand-logo:hover:after{
    margin-left: 10px;
    opacity: 1;
}

.brand-logo:hover:before{
    margin-right: 10px;
    opacity: 1;
}

.sidenav .user-view .background img{
    width: 200%;
}

.modal.bottom-sheet {
    top: auto;
    left: auto;
    bottom: auto;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
}

.img-rounded{
    border-radius: 100%;
}

.profile-avatar{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-title{
    margin-top: 20px;
}

.profile-category a{
    font-size: 14px;
    padding-left: 10px;
    
}

.profile-category .material-icons{
    font-size: 14px;
    padding-right: 5px;
}

.signup-box .card{
    position: relative;
}

.close-pane-icon{
    position: absolute;
    right: 10px;
    top: 10px;
}

/* 404 Page */
.notfound-bg-template{
    background-image: linear-gradient(rgba(255, 82, 183, 0.144), rgba(206, 0, 0, 0.562)), url(../img/notfound.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
}

.notfound-pane{
    background-color: #111111;
    display: table; 
    height:100%; 
    margin: 0 auto 0 0;
    width: 50%;
}

.notfound-pane .container{
    display: table-cell; 
    vertical-align: middle;
}

.notfound-pane .container  h1{
    font-size: 120px;
}
.notfound-pane .container span.notfound-title{
    color: #ff5252;
    font-weight: 600;
}

.notfound-pane .container span{
    display: block;
}