.clearfix::after {content: ""; display: table;clear: both;}

body{
    background-color: #f4f4f4;
    font-family: Lato;
    font-weight: 300;
}

body.has-fixed-sidenav{
    padding-left: 300px;
}

.bg-template{
    background-image: linear-gradient(rgba(255, 82, 182, 0.678), rgba(206, 0, 0, 0.562)), url(../img/learning.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 50%;
}

nav.navbar{
    width: calc(100% - 300px);
    left: 300px;
    z-index: 10;
    transition: box-shadow .3s, background-color .3s;
    padding: 0 20px;
    background-color: #fff;
    color: rgba(0,0,0,0.87);
}

nav.nav-extended {
    height: auto;
}

.signin-box,
.signup-box{
    margin: 10vh auto 0 auto;
    height: 100%;
}

.signin-box{
    width: 400px;
}

.signup-box{
    width: 450px;
}

.signin-box .card-action a{
    display: inline-block;
    font-size: 14px;
}

ul.card-breadcrumb li{
    display: inline-block;
}

.card-posts .card-action span{
    display: inline-block;
    padding-right: 15px;
}

ul.card-breadcrumb li span{
    display: inline-block;
    vertical-align: middle;
}
ul.card-breadcrumb li span .material-icons{
    display: inline-block;
    padding-right: 10px;
}

ul.card-breadcrumb li i{
    padding-right: 5px;
}

ul.card-breadcrumb li:not(:first-child):not(:last-child):after{
    content: "|";
    padding: 0 10px;
}

.loader{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

.material-icons{
    color: rgba(0,0,0,0.54);
    vertical-align: middle;
}

.material-icons.active {
  color: #cc3f3d !important;
}

input[type=email]:focus,input[type=password]:focus,input[type=text]:focus,textarea:focus {
 border-bottom: 1px solid #ff5252  !important;
 box-shadow: 0 1px 0 0 #ff5252  !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #ff5252;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #ff5252;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid #ff5252;
    background-color: #ff5252;
}

input:not([type]):focus:not([readonly]) + label, input[type="text"]:not(.browser-default):focus:not([readonly]) + label, input[type="password"]:not(.browser-default):focus:not([readonly]) + label, input[type="email"]:not(.browser-default):focus:not([readonly]) + label, input[type="url"]:not(.browser-default):focus:not([readonly]) + label, input[type="time"]:not(.browser-default):focus:not([readonly]) + label, input[type="date"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label, input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label, input[type="tel"]:not(.browser-default):focus:not([readonly]) + label, input[type="number"]:not(.browser-default):focus:not([readonly]) + label, input[type="search"]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
    color: #ff5252;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #ff5252;
}



.sidenav .user-view .background img{
    width: 200%;
}

.modal.bottom-sheet {
    top: auto;
    left: auto;
    bottom: auto;
    max-width: 50%;
    height: 100%;
    max-height: 100%;
}

.img-rounded{
    border-radius: 100%;
}

.profile-avatar{
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.profile-title{
    margin-top: 20px;
}
