  {{> header}}

  <main>
    <div class="container section">
        <form action="index.html">
            <div class="row">
                <div class="col s12">
                    <h5>ICT - NETWORK ADMIN</h5>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l8">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <p>You are applying for the role, ICT - NETWORK ADMIN </p>
                                <div class="section">
                                    <div class="input-field col s12">
                                        <textarea id="description" class="materialize-textarea"></textarea>
                                        <label for="description">Message to hiring personnel</label>
                                    </div>
                                    <div class="file-field  col s12 input-field">
                                        <div class="btn red accent-2">
                                          <span>Resume</span>
                                          <input type="file" multiple>
                                        </div>
                                        <div class="file-path-wrapper">
                                          <input class="file-path validate" type="text" placeholder="Please upload your resume">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="row">
                        <div class="col s12">
                            <h5>Terms &amp; Conditions</h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
                            <label>
                                <input type="checkbox" />
                                <span>I agree to the terms &amp; conditions</span>
                            </label>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light red accent-2" type="submit" name="action">APPLY</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
  </main>