  {{> header}}

  <main>
    <div class="container section">
        <form action="/index.html">
            <div class="row">
                <div class="col s12 m12 l8">
                    <div class="card">
                        <div class="card-content">
                            <div class="card-title">
                                <h5>CREATE A NEW POST</h5>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="title" type="text" class="validate">
                                    <label for="title">Job Title</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="description" class="materialize-textarea"></textarea>
                                    <label for="description">Job Description</label>
                                </div>
                                <div class="input-field col s12">
                                    <textarea id="requirement" class="materialize-textarea"></textarea>
                                    <label for="requirement">Requirements</label>
                                </div>
                                <div class="input-field col s12">
                                    <select>
                                      <option value="" disabled selected>Choose your option</option>
                                      <option value="1">Graduate</option>
                                      <option value="2">Research</option>
                                      <option value="3">Teaching</option>
                                    </select>
                                    <label>Assistantship Type</label>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <!-- <i class="material-icons prefix">textsms</i> -->
                                            <input type="text" id="autocomplete-input" class="autocomplete" autocomplete="off">
                                            <label for="autocomplete-input">Select Department</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="row">
                                <div class="col s12">
                                    <h6>Strict Requisite</h6>
                                    <div class="row section">
                                        <div class="col s12 m4">
                                            <label>
                                                <input class="with-gap" name="group1" type="radio" checked />
                                                <span>CTA</span>
                                            </label>
                                        </div>
                                        
                                        <div class="col s12 m4">
                                            <label>
                                                <input class="with-gap" name="group1" type="radio"/>
                                                <span>OTA</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                
                            <div class="row">
                                <div class="col s12">
                                    <h6>Notification</h6>
                                    <div class="row section">
                                        <div class="col s4 l4">
                                            <label>
                                                <input type="checkbox" class="filled-in" checked="checked" />
                                                <span>Email</span>
                                            </label>
                                        </div>
                                        <div class="col s4 l4">
                                            <label>
                                                <input type="checkbox" class="filled-in" checked="checked" />
                                                <span>Push</span>
                                            </label>
                                        </div>
                                        <div class="col s4 l4">
                                            <label>
                                                <input type="checkbox" class="filled-in"/>
                                                <span>SMS</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <h5>Terms &amp; Conditions</h5>
                            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <label>
                                <input type="checkbox" />
                                <span>I agree to the terms &amp; conditions</span>
                            </label>
                        </div>
                    </div>

                    <div class="row ">
                        <div class="col s12">
                            <button class="btn waves-effect waves-light red accent-2" type="submit" name="action">CREATE</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
    </div>
  </main>

{{> script-generic }}